@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="d19m59y37dris4.cloudfront.net/directory/1-5/vendor/nouislider/nouislider.css">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- swiper-->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!--NoUis Slider-->
    <link href="~/css/nouislider.css" rel="stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom.0a822280.css">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" href="d19m59y37dris4.cloudfront.net/directory/1-5/vendor/magnific-popup/magnific-popup.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.default.e1630ae4.css" id="theme-stylesheet">
    <!--Sweet Alert-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <!--Toastr-->
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="d19m59y37dris4.cloudfront.net/directory/1-5/img/favicon.png">
    <!--Boostrap Select-->
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!--Material Icon -->
    <link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link href="~/css/Stle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.default.e1630ae4.css" id="theme-stylesheet">



</head>
<body style="padding-top: 72px;">

    <!--Header Start-->
    <header class="header mb-3">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light" style="background-color:#606060">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand py-1" asp-action="Index" asp-controller="Home"><img src="~/img/clara_logonew.png" alt="Clara logo"></a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <!-- Navbar Collapse -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">
                        <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                            <label class="label-absolute" for="searchcollapsed_search"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
                            <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="searchcollapsed_search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas"></i></button>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-white mt-2 font-weight-bolder">
                            <a class="nav-link text-white" asp-controller="Service" asp-action="Services">Services</a>
                        </li>


                        @if (signInManager.IsSignedIn(User))
                        {
            <li class="nav-item text-white mt-2 font-weight-bolder">
                <a class="nav-link text-white" asp-action="Account" asp-controller="User">DashBaord</a>
            </li>
                            <li class="nav-item text-white mt-2 font-weight-bolder">
                                <span class="badge text-black-50" data-toggle="popover" title="notifications"></span>
                            </li>
                                            <li class="nav-item list-inline-item mr-1 text-white">
                                                <a class="nav-link text-muted px-1" href="#" title="Notifications" role="button" data-toggle="modal" data-target="#notificationModal">
                                                    <span class="badge text-danger bg-danger-light" id="notification-count" title="notifications"></span>
                                                </a>
                                            </li>
                                                            <li class="nav-item dropdown ml-lg-3 mt-1">
                                                                <a id="userDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="avatar avatar-sm avatar-border-white mr-2" src="~/img/Avatar/default-avatar.jpg" alt="Jack London"></a>
                                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenuLink">
                                                                    <a class="dropdown-item" asp-action="Personal" asp-controller="User">User Profile</a>
                                                                    <a class="dropdown-item">Booked Services</a>
                                                                    <div class="dropdown-divider"></div><a class="dropdown-item" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out-alt mr-2 text-muted"></i> Sign out</a>
                                                                </div>
                                                            </li>
 }
                                                                        else
                                                                        {
                                                            <li class="nav-item dropdown text-white mt-2 font-weight-bolder">
                                                                <a class="nav-link dropdown-toggle text-white" id="homeDropdownMenuLink" asp-action="Login" asp-controller="Account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Login
                                                                </a>
                                                                <div class="dropdown-menu text-white" aria-labelledby="homeDropdownMenuLink"><a asp-action="Register" asp-controller="Account" class="dropdown-item">Sign Up</a></div>
                                                            </li>

                                                                            <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block border-0"><a class="btn btn-primary" href="user-add-0.html" style="background-color:#7a421b !important; border-color:#7a421b !important">Add A Service</a></li>}
                    </ul>
                </div>

            </div>
        </nav>

        <!-- Modal 4 :: Notifications -->
        <div class="modal modal-lg-fullscreen fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-zoom">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0 hide-scrollbar">
                        <div class="row">

                            <div class="col-12">
                                <!-- List Group Start -->
                                <ul class="list-group list-group-flush  py-2">

                                    <!-- List Group Item Start -->
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                                                <!-- Default :: Inline SVG -->
                                                <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>

                                                <!-- Alternate :: External File link -->
                                                <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/check-circle.svg" alt=""> -->
                                            </div>

                                            <div class="media-body">
                                                <h6>
                                                    <a href="#">Katelyn Valdez</a> accepted your friend request
                                                </h6>

                                                <p class="text-muted mb-0">25 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- List Group Item End -->

                                </ul>
                                <!-- List Group End -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-link text-muted">Clear all</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Navbar -->
    </header>

    <!--Header Ends-->


    @RenderBody()


    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>
            <!-- Social buttons -->

        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © @DateTime.UtcNow.Year Copyright - Clara Inc
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth scroll-->
    <script src="~/js/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="~/js/bootstrap-select.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="~/js/ofi.min.js"></script>
    <!--Moment -->
    <script src="~/js/moment.min.js"></script>
    <!--Date Picker-->
    <script src="~/js/jquery.daterangepicker.min.js"></script>
    <!--Drop Zone-->
    <script src="~/js/dropzone.js"></script>
    <!--Toastr-->
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <!--Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--NoUIS Slider-->
    <script src="~/js/nouislider.min.js"></script>
    <!--Signal R-->
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <!-- Swiper Carousel-->
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="js/demo.36f8799a.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.55f8348b.js"></script>
    <script src="~/js/style.js"></script>

    @RenderSection("scripts", required: false)
        <script>

            $(function () {
                $('[data-toggle="popover"]').popover({
                    placement: "bottom",
                    content: function () {
                        return $("#notification-content").html();
                    },
                    html: true
                });

                //$('body').append(`<div id="notification-content" class="hide"></div>`)
                $('#HideNotiText').append(`<div id="notification-content" class="hide"></div>`)
                function getNotification() {
                    var res = "<ul  class='list-group list-group-flush py-2'>";
                    $.ajax({
                        url: "/Notification/GetNotification",
                        method: "get",
                        success: function (result) {
                            console.log(result);
                            if (result.count != 0) {
                                $("#notification-count").html(result.count);
                                $("#notification-count").show();
                            } else {
                                $("#notification-count").html();
                                $("#notification-count").hide();
                                $("#notification-count").modal('hide');
                            }

                            var notifications = result.userNotification;
                            notifications.forEach(element => {
                                res = res + `<li class='list-group-item notification-text' data-id='${element.notification.notificationId}'> ${element.notification.text}</li>`;
                            })

                            res = res + "</ul>";

                            //$("#notification-content").html(res);
                            $(".modal-body").html(res);

                            $("ul .notification-text").click(function (evt) {
                                if (evt.target.classList.contains("notification-text")) {
                                    //var id = evt.target.id
                                    var target = evt.target;
                                    var id = $(target).data('id');
                                    ChangeReadStatus(id, target);
                                }
                                //alert(evt.target.id)

                            })
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }

                function ChangeReadStatus(Id, target) {
                    $.ajax({
                        url: "/Notification/ReadNotification",
                        type: "post",
                        data: { notificationId: Id },
                        success: function (count) {
                            console.log("I got here");
                            $(target).hide('slow');
                            console.log(count);
                            getNotification();
                        },
                        error: function (err) {
                            toastr.error(err);
                        }
                    })
                }

                getNotification();

                function PlaySound(url) {
                    const audio = new Audio(url);
                    audio.play();
                }

                let connection = new signalR.HubConnectionBuilder().withUrl("/signalServer").build();

                connection.on('displayNotification', () => {
                    getNotification();
                    PlaySound('https://res.cloudinary.com/deeveehhd/video/upload/v1602292392/done-for-you-612.mp3');
                });

                connection.start();
            });
        </script>
</body>
</html>
