@{
    Layout = "_PagesLayout";

}

<div class="mh-full-screen d-flex align-items-center dark-overlay">
    <img class="bg-image" src="~/img/aron-visuals-3jBU9TbKW7o-unsplash.jpg" alt="Not found">
    <div class="container text-white text-lg overlay-content py-6 py-lg-0">
        <h1 class="display-3 font-weight-bold mb-5">@ViewBag.ErrorMessage</h1>
        <p class="font-weight-light mb-5"></p>
        <p class="mb-6"> <a class="btn btn-outline-light" asp-action="Index" asp-controller="Home"><i class="fa fa-home mr-2"></i>Go To Homepage</a></p>
        <p class="h4 text-shadow">Error 404</p>
    </div>
</div>