@model LoginViewModel

@{ 
    Layout = "_PagesLayout";
    var returnUrl = Context.Request.Query["returnUrl"];
}

<!-- Sign in  Form -->
@*<h2 class="text-center">Clara</h2>*@

<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-8 col-md-3 mt-2">
            <form class="form-container mt-4" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@returnUrl" method="post">
                <h3 class="text-center">Welcome Back!</h3>
                <div class="form-group">
                    <label asp-for="Email">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <a href="#" class="float-right" style="font-size: 13px;">Forgot Password?</a>
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label asp-for="RememberMe" class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <a href="#" class="float-left mb-1" style="font-size: 13px;">Have No Account? Register</a>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </section>
    </section>
</section>




        @*<section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/img/Signup.svg" alt="sing in image"></figure>
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Welcome Back!</h2>
                        <form method="post" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@returnUrl" class="register-form" id="login-form">
                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Email" type="text" id="your_name" placeholder="Your Email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="Password" type="password" id="your_pass" placeholder="Password"/>
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@