

@{
    Layout = "_PagesLayout";
 }

<section class="py-3 py-lg-3">
    <div class="container text-center">
        <p class="subtitle text-primary">Successfull</p>
        <p class="mb-5"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/illustration/undraw_celebration_0jvk.svg" alt="" style="width: 400px;"></p>
        <p class="text-muted mb-5 font-weight-bolder">Your password has been Reset</p>
        <p class="mb-5"><a class="btn btn-primary mr-2 mb-2" asp-action="Login" asp-controller="Account">Login</a><a class="btn btn-outline-muted mb-2" asp-action="Index" asp-controller="Home">Home</a></p>
    </div>
</section>