@inject UserManager<ApplicationUser> appUser

@{ 
    Layout = "_PagesLayout";
    var userId = appUser.GetUserId(User);
}

<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb #{breadcrumbClass}">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Your account   </li>
        </ol>
        <h1 class="hero-heading mb-0">Welcome, @ViewBag.firstName.</h1>
        <p class="text-muted mb-5">Manage your account and settings here.</p>
        <div class="row">
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#identity-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" asp-action="Personal" asp-controller="User" asp-route-Id="@userId">Personal info</a></h5>
                        <p class="text-muted card-text text-sm">Provide personal details and how we can reach you</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#pay-by-card-1"> </use>
                            </svg>
                        </div>
                        <div class="badge badge-transparent badge-pill px-3 py-2 float-right font-weight-bolder text-dark">
                            <a href="#">Add Service</a>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Service</a></h5>
                        <p class="text-muted card-text text-sm">Review Services, Add Services, handle all activities related to your services</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#password-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="user-security.html">Login &amp; security</a></h5>
                        <p class="text-muted card-text text-sm">Update your password and secure your account</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#chat-app-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Notifications</a></h5>
                        <p class="text-muted card-text text-sm">Choose notification preferences and how you want to be contacted</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>