@inject UserManager<ApplicationUser> appUser

@{ 
    Layout = "_PagesLayout";
    var userId = appUser.GetUserId(User);
}

<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb #{breadcrumbClass}">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Your account   </li>
        </ol>
        <h1 class="hero-heading mb-0">Welcome, @ViewBag.firstName.</h1>
        <p class="text-muted mb-5">Manage your account and settings here.</p>
        <div class="row">
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#identity-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" asp-action="Personal" asp-controller="User" asp-route-Id="@userId">Personal info</a></h5>
                        <p class="text-muted card-text text-sm">Provide personal details and how we can reach you</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#pay-by-card-1"> </use>
                            </svg>
                        </div>
                        <div class="badge badge-transparent badge-pill px-3 py-2 float-right font-weight-bolder text-dark">
                            <a href="#">Add Service</a>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" asp-action="Profile" asp-controller="User">Service</a></h5>
                        <p class="text-muted card-text text-sm">Review Services, Add Services, handle all activities related to your services</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#password-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" asp-action="Security" asp-controller="User">Login &amp; security</a></h5>
                        <p class="text-muted card-text text-sm">Update your password and secure your account</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#password-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" asp-action="Bookmark" asp-controller="User">BookMarks</a></h5>
                        <p class="text-muted card-text text-sm">Manage Your Bookmarks, View your bookmarks and delete unwanted bookmarks</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#chat-app-1"> </use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link" href="#">Notifications</a></h5>
                        <p class="text-muted card-text text-sm">Choose notification preferences and how you want to be contacted</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="HideNotiText">

    </div>

    <!-- Modal 4 :: Notifications -->
    <div class="modal modal-lg-fullscreen fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-zoom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0 hide-scrollbar">
                    <div class="row">

                        <div class="col-12">
                            <!-- List Group Start -->
                            <ul class="list-group list-group-flush  py-2">

                                <!-- List Group Item Start -->
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                                            <!-- Default :: Inline SVG -->
                                            <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>

                                            <!-- Alternate :: External File link -->
                                            <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/check-circle.svg" alt=""> -->
                                        </div>

                                        <div class="media-body">
                                            <h6>
                                                <a href="#">Katelyn Valdez</a> accepted your friend request
                                            </h6>

                                            <p class="text-muted mb-0">25 mins ago</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- List Group Item End -->

                            </ul>
                            <!-- List Group End -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-link text-muted">Clear all</button>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{ 
   <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                placement: "bottom",
                content: function () {
                    return $("#notification-content").html();
                },
                html: true
            });

            //$('body').append(`<div id="notification-content" class="hide"></div>`)
            $('#HideNotiText').append(`<div id="notification-content" class="hide"></div>`)
            function getNotification() {
                var res = "<ul  class='list-group list-group-flush py-2'>";
                $.ajax({
                    url: "/Notification/GetNotification",
                    method: "get",
                    success: function (result) {
                        console.log(result);
                        $("#notification-count").html(result.count);
                        var notifications = result.userNotification;
                        notifications.forEach(element => {
                            res = res + `<li class='list-group-item notification-text' id='${element.notification.notificationId}' data-id='2334'> ${element.notification.text}</li>`;
                        })

                        res = res + "</ul>";

                        //$("#notification-content").html(res);
                        $(".modal-body").html(res);

                        $("ul .notification-text").click(function (evt) {
                            if (evt.target.classList.contains("notification-text")) {
                                var id = evt.target.id
                                alert(id);
                                ChangeReadStatus(id);
                            }
                                //alert(evt.target.id)
                               
                        })
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function ChangeReadStatus(Id) {
                $.ajax({
                    url: "/Notification/ReadNotification",
                    type: "post",
                    data: { notificationId: Id },
                    success: function () {
                        console.log("I got here");
                    },
                    error: function (err) {
                        alert("Something went wrong");
                    }
                })
            }

            getNotification();
        });
    </script>
}