<br />`<br /><br />
@{
    Layout = "_PagesLayout"; 

}


<form method="post" enctype="multipart/form-data">

    <input type="file" id="files"
           name="files" multiple />

    <input type="button"
           id="upload"
           value="Upload" />

</form>

@section Scripts{ 
    <script>
        $(document).ready(function () {

            $("#upload").click(function (evt) {

                var fileUpload = $("#files").get(0);

                var files = fileUpload.files;

                var data = new FormData();

                for (var i = 0; i < files.length; i++) {

                    data.append(files[i].name, files[i]);

                }

                $.ajax({

                    type: "post",

                    url: "/Notification/FileNotification",

                    contentType: false,

                    processData: false,

                    data: data,

                    success: function (message) {

                        alert(message);

                    },

                    error: function () {

                        alert("There was error uploading files!");

                    }

                });

            });

        });
    </script>
}