@model CreateServiceViewModel
@inject SignInManager<ApplicationUser> signinmanager
@inject UserManager<ApplicationUser> usermanager

@{
    Layout = "_PagesLayout";
    var userId = usermanager.GetUserId(User);
}

<div class="progress rounded-0 sticky-top fixed-top" style="height: 8px; top: 71px;">
    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<form method="post" asp-action="Create" asp-controller="Service">
    <section class="py-5 d-block" id="form1">
        @if (signinmanager.IsSignedIn(User))
        {
            <input type="hidden" asp-for="UserId" value="@userId" />
        }

            <div class="container">
                <p class="subtitle text-primary">Add new Service</p>
                <h1 class="h2 mb-3"> Basic information <span class="text-muted float-right">Step 1</span></h1>

                <div class="row form-block">
                    <div class="col-lg-4">
                        <h4>Contact Details</h4>
                        <p class="text-muted text-sm">To help our users interact better with you, Tell Us A little about your business</p>
                    </div>
                    <div class="col-lg-7 ml-auto">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <label asp-for="BusinessName" class="form-label">Business Name</label>
                            <input asp-for="BusinessName" class="form-control" id="form_name">
                            <span asp-validation-for="BusinessName"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="form-label">Business PhoneNumber</label>
                                    <input asp-for="PhoneNumber" class="form-control">
                                    <span asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BusinessEmail" class="form-label">Business Email</label>
                                    <input asp-for="BusinessEmail" class="form-control" id="form_state">
                                    <span asp-validation-for="BusinessEmail"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin:auto !important">
                            <label class="form-label" for="form_type">Category</label>
                            <select asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))" asp-for="CategoryId" class="selectpicker form-control" id="form_type" data-style="btn-selectpicker" title="" aria-describedby="propertyTypeHelp">
                            </select><small class="form-text text-muted mt-2" id="propertyTypeHelp">Select from our list of categorries</small>
                        </div>
                    </div>

                </div>
                <div class="row form-block">
                    <div class="col-lg-4">
                        <h4>Location</h4>
                        <p class="text-muted text-sm">Make it easier for Users to find and book your services with a registered address.</p>
                    </div>
                    <div class="col-lg-7 ml-auto">
                        
                        <!-- Street-->
                        <div class="form-group">
                            <label asp-for="AddressLine" class="form-label">Street Address</label>
                            <input asp-for="AddressLine" class="form-control" id="form_street">
                            <span asp-validation-for="AddressLine"></span>
                        </div>
                        <!-- City + State-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="City" class="form-label">City</label>
                                    <input asp-for="City" class="form-control" id="form_city">
                                    <span asp-validation-for="City"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="State" class="form-label">State</label>
                                    <input asp-for="State" class="form-control" id="form_state">
                                    <span asp-validation-for="State"></span>
                                </div>
                            </div>
                        </div>
                        <!-- ZIP Code-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ZipCode" class="form-label">ZIP Code</label>
                                    <input asp-for="ZipCode" class="form-control" id="form_zip">
                                    <span asp-validation-for="ZipCode"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row form-block flex-column flex-sm-row">
                    <div class="col text-center text-sm-left">
                    </div>
                    <div class="col text-center text-sm-right"><a onclick="firstForm()" class="btn btn-primary px-3"> Next step<i class="fa-chevron-right fa ml-2"></i></a></div>
                </div>

            </div>
        </section>


    @*<div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px;">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>*@
    <section class="py-5 d-none" id="form2">
        <div class="container">
            <p class="subtitle text-primary">Add new Service</p>
            <h1 class="h2 mb-5">Amenities and Description<span class="text-muted float-right">Step 2</span>      </h1>

            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Description</h4>
                    <p class="text-muted text-sm">Tell us a little about your business, this is your chance to showcase what you do as best as you can.</p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group mb-5">
                        <label asp-for="Description" class="form-label">Describe your Service to Users</label>
                        <textarea asp-for="Description" class="form-control" id="form_description" rows="3" aria-describedby="descriptionHelp"></textarea><small class="form-text text-muted mt-2" id="descriptionHelp">Maximum of 240 words, make the best use of it. </small>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
            <!--Amenities Block-->
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Amenities</h4>
                    <p class="text-muted text-sm">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group">
                        <label class="form-label">Available Amenities</label>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_0" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_0">Kitchen    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_1" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_1">Shampoo    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_2" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_2">Heating    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_3" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_3">Air conditioning    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_4" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_4">Washer    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_5" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_5">Dryer    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_6" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_6">Wifi    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_7" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_7">Breakfast    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_8" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_8">Indoor fireplace    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_9" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_9">Buzzer/wireless intercom    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_10" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_10">Doorman    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_11" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_11">Hangers    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_12" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_12">Iron    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_13" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_13">Hair dryer    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_14" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_14">Laptop friendly workspace    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-left">
                    <a class="btn btn-link text-muted" onclick="firstForm()"> <i class="fa-chevron-left fa mr-2"></i>Back</a>
                </div>
                <div class="col text-center text-sm-right"><a onclick="secondForm()" class="btn btn-primary px-3"> Next step<i class="fa-chevron-right fa ml-2"></i></a></div>
            </div>

        </div>
    </section>

    <section class="py-5 d-none" id="form3">
        <div class="container">
            <p class="subtitle text-primary">Add new Service</p>
            <h1 class="h2 mb-5"> Photos <span class="text-muted float-right">Step 3</span>      </h1>
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Photos</h4>
                    <p class="text-muted text-sm">Upload beautiful pictures that captures all the beautiful momenent of your work.</p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group">
                        <div class="dropzone" id="demo-upload" action="https://demo.bootstrapious.com/upload">
                            <div class="dz-message text-muted">
                                <p>Drop files here or click to upload.</p>
                                <p><span class="note"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="dropzoneTemplate">
                        <div class="dz-preview dz-file-preview">
                            <div class="dz-image"><img data-dz-thumbnail="" alt="" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/logo-square.svg"></div>
                            <div class="dz-details">
                                <div class="dz-filename"><span data-dz-name=""></span></div>
                                <div class="dz-size" data-dz-size=""></div>
                            </div>
                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            <div class="dz-success-mark"><span class="dz-icon"><i class="fa-check fa"></i></span></div>
                            <div class="dz-error-mark"><span class="dz-icon"><i class="fa-times fa"></i></span></div>
                            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-left">
                    <a onclick="secondForm()" class="btn btn-link text-muted"> <i class="fa-chevron-left fa mr-2"></i>Back</a>
                </div>
                <div class="col text-center text-sm-right"><input type="submit" class="btn btn-primary px-3"><i class="fa-chevron-right fa ml-2"></i>></div>

            </div>
        </div>
    </section>
</form>

@section Scripts {
    <script>
        function firstForm() {

            var Page1 = document.querySelector('#form1');
            var Page2 = document.querySelector('#form2');
            if (Page1.classList.contains('d-block')) {
                // $('form1').animate({ left: '250px'});
                Page1.classList.remove('d-block');
                Page1.classList.add('d-none');
                Page2.classList.remove('d-none');
                Page2.classList.add('d-block');
                //$('#form2').slideUp("fast");
                $('#form2').fadeIn("slow");
            }
            else {
                Page1.classList.add('d-block');
                Page1.classList.remove('d-none');
                Page2.classList.add('d-none');
                Page2.classList.remove('d-block');
                //$('#form2').slideUp("fast");
                $('#form2').fadeIn("slow");
            }
        }

        function secondForm() {
            var page2 = document.querySelector('#form2');
            var page3 = document.querySelector('#form3');

            if (page2.classList.contains('d-block')) {
                page2.classList.remove('d-block');
                page2.classList.add('d-none');
                page3.classList.remove('d-none');
                page3.classList.add('d-block');
                $('#form3').fadeIn("slow");
            }
            else {
                page2.classList.remove('d-none');
                page2.classList.add('d-block');
                page3.classList.remove('d-block');
                page3.classList.add('d-none');
                $('#form2').fadeIn("slow");
            }
        }

    </script>
}