@model CreateServiceViewModel
@inject SignInManager<ApplicationUser> signinmanager
@inject UserManager<ApplicationUser> usermanager

@{
    Layout = "_PagesLayout";
    var userId = usermanager.GetUserId(User);
}

<div class="progress rounded-0 sticky-top fixed-top" style="height: 8px; top: 71px;">
    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<form method="post" asp-action="Create" asp-controller="Service">
    <section class="py-5 d-block" id="form1">
        @if (signinmanager.IsSignedIn(User))
        {
            <input type="hidden" asp-for="UserId" value="@userId" />
        }

            <div class="container">
                <p class="subtitle text-primary">Add new Service</p>
                <h1 class="h2 mb-3"> Basic information <span class="text-muted float-right">Step 1</span></h1>

                <div class="row form-block">
                    <div class="col-lg-4">
                        <h4>Contact Details</h4>
                        <p class="text-muted text-sm">To help our users interact better with you, Tell Us A little about your business</p>
                    </div>
                    <div class="col-lg-7 ml-auto">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <label asp-for="BusinessName" class="form-label">Business Name</label>
                            <input asp-for="BusinessName" class="form-control" id="form_name">
                            <span asp-validation-for="BusinessName"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="form-label">Business PhoneNumber</label>
                                    <input asp-for="PhoneNumber" class="form-control">
                                    <span asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BusinessEmail" class="form-label">Business Email</label>
                                    <input asp-for="BusinessEmail" class="form-control" id="form_state">
                                    <span asp-validation-for="BusinessEmail"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin:auto !important">
                            <label class="form-label" for="form_type">Category</label>
                            <select asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))" asp-for="CategoryId" class="selectpicker form-control" id="form_type" data-style="btn-selectpicker" title="" aria-describedby="propertyTypeHelp">
                            </select><small class="form-text text-muted mt-2" id="propertyTypeHelp">Select from our list of categorries</small>
                        </div>
                    </div>

                </div>
                <div class="row form-block">
                    <div class="col-lg-4">
                        <h4>Location</h4>
                        <p class="text-muted text-sm">Make it easier for Users to find and book your services with a registered address.</p>
                    </div>
                    <div class="col-lg-7 ml-auto">
                        <!-- Country-->
                        @*<div class="form-group">
                            <label class="form-label" for="form_country">Country / Region</label>
                            <select class="selectpicker form-control" id="form_country" data-style="btn-selectpicker" title=" " data-live-search="true">
                                <option value="country_#{index}">Afghanistan             </option>
                                <option value="country_#{index}">Albania             </option>
                                <option value="country_#{index}">Algeria             </option>
                                <option value="country_#{index}">Andorra             </option>
                                <option value="country_#{index}">Angola             </option>
                                <option value="country_#{index}">Anguilla             </option>
                                <option value="country_#{index}">Antigua &amp; Barbuda             </option>
                                <option value="country_#{index}">Argentina             </option>
                                <option value="country_#{index}">Armenia             </option>
                                <option value="country_#{index}">Aruba             </option>
                                <option value="country_#{index}">Australia             </option>
                                <option value="country_#{index}">Austria             </option>
                                <option value="country_#{index}">Azerbaijan             </option>
                                <option value="country_#{index}">Bahamas             </option>
                                <option value="country_#{index}">Bahrain             </option>
                                <option value="country_#{index}">Bangladesh             </option>
                                <option value="country_#{index}">Barbados             </option>
                                <option value="country_#{index}">Belarus             </option>
                                <option value="country_#{index}">Belgium             </option>
                                <option value="country_#{index}">Belize             </option>
                                <option value="country_#{index}">Benin             </option>
                                <option value="country_#{index}">Bermuda             </option>
                                <option value="country_#{index}">Bhutan             </option>
                                <option value="country_#{index}">Bolivia             </option>
                                <option value="country_#{index}">Bosnia &amp; Herzegovina             </option>
                                <option value="country_#{index}">Botswana             </option>
                                <option value="country_#{index}">Brazil             </option>
                                <option value="country_#{index}">British Virgin Islands             </option>
                                <option value="country_#{index}">Brunei             </option>
                                <option value="country_#{index}">Bulgaria             </option>
                                <option value="country_#{index}">Burkina Faso             </option>
                                <option value="country_#{index}">Burundi             </option>
                                <option value="country_#{index}">Cambodia             </option>
                                <option value="country_#{index}">Cameroon             </option>
                                <option value="country_#{index}">Cape Verde             </option>
                                <option value="country_#{index}">Cayman Islands             </option>
                                <option value="country_#{index}">Chad             </option>
                                <option value="country_#{index}">Chile             </option>
                                <option value="country_#{index}">China             </option>
                                <option value="country_#{index}">Colombia             </option>
                                <option value="country_#{index}">Congo             </option>
                                <option value="country_#{index}">Cook Islands             </option>
                                <option value="country_#{index}">Costa Rica             </option>
                                <option value="country_#{index}">Cote D Ivoire             </option>
                                <option value="country_#{index}">Croatia             </option>
                                <option value="country_#{index}">Cruise Ship             </option>
                                <option value="country_#{index}">Cuba             </option>
                                <option value="country_#{index}">Cyprus             </option>
                                <option value="country_#{index}">Czech Republic             </option>
                                <option value="country_#{index}">Denmark             </option>
                                <option value="country_#{index}">Djibouti             </option>
                                <option value="country_#{index}">Dominica             </option>
                                <option value="country_#{index}">Dominican Republic             </option>
                                <option value="country_#{index}">Ecuador             </option>
                                <option value="country_#{index}">Egypt             </option>
                                <option value="country_#{index}">El Salvador             </option>
                                <option value="country_#{index}">Equatorial Guinea             </option>
                                <option value="country_#{index}">Estonia             </option>
                                <option value="country_#{index}">Ethiopia             </option>
                                <option value="country_#{index}">Falkland Islands             </option>
                                <option value="country_#{index}">Faroe Islands             </option>
                                <option value="country_#{index}">Fiji             </option>
                                <option value="country_#{index}">Finland             </option>
                                <option value="country_#{index}">France             </option>
                                <option value="country_#{index}">French Polynesia             </option>
                                <option value="country_#{index}">French West Indies             </option>
                                <option value="country_#{index}">Gabon             </option>
                                <option value="country_#{index}">Gambia             </option>
                                <option value="country_#{index}">Georgia             </option>
                                <option value="country_#{index}">Germany             </option>
                                <option value="country_#{index}">Ghana             </option>
                                <option value="country_#{index}">Gibraltar             </option>
                                <option value="country_#{index}">Greece             </option>
                                <option value="country_#{index}">Greenland             </option>
                                <option value="country_#{index}">Grenada             </option>
                                <option value="country_#{index}">Guam             </option>
                                <option value="country_#{index}">Guatemala             </option>
                                <option value="country_#{index}">Guernsey             </option>
                                <option value="country_#{index}">Guinea             </option>
                                <option value="country_#{index}">Guinea Bissau             </option>
                                <option value="country_#{index}">Guyana             </option>
                                <option value="country_#{index}">Haiti             </option>
                                <option value="country_#{index}">Honduras             </option>
                                <option value="country_#{index}">Hong Kong             </option>
                                <option value="country_#{index}">Hungary             </option>
                                <option value="country_#{index}">Iceland             </option>
                                <option value="country_#{index}">India             </option>
                                <option value="country_#{index}">Indonesia             </option>
                                <option value="country_#{index}">Iran             </option>
                                <option value="country_#{index}">Iraq             </option>
                                <option value="country_#{index}">Ireland             </option>
                                <option value="country_#{index}">Isle of Man             </option>
                                <option value="country_#{index}">Israel             </option>
                                <option value="country_#{index}">Italy             </option>
                                <option value="country_#{index}">Jamaica             </option>
                                <option value="country_#{index}">Japan             </option>
                                <option value="country_#{index}">Jersey             </option>
                                <option value="country_#{index}">Jordan             </option>
                                <option value="country_#{index}">Kazakhstan             </option>
                                <option value="country_#{index}">Kenya             </option>
                                <option value="country_#{index}">Kuwait             </option>
                                <option value="country_#{index}">Kyrgyz Republic             </option>
                                <option value="country_#{index}">Laos             </option>
                                <option value="country_#{index}">Latvia             </option>
                                <option value="country_#{index}">Lebanon             </option>
                                <option value="country_#{index}">Lesotho             </option>
                                <option value="country_#{index}">Liberia             </option>
                                <option value="country_#{index}">Libya             </option>
                                <option value="country_#{index}">Liechtenstein             </option>
                                <option value="country_#{index}">Lithuania             </option>
                                <option value="country_#{index}">Luxembourg             </option>
                                <option value="country_#{index}">Macau             </option>
                                <option value="country_#{index}">Macedonia             </option>
                                <option value="country_#{index}">Madagascar             </option>
                                <option value="country_#{index}">Malawi             </option>
                                <option value="country_#{index}">Malaysia             </option>
                                <option value="country_#{index}">Maldives             </option>
                                <option value="country_#{index}">Mali             </option>
                                <option value="country_#{index}">Malta             </option>
                                <option value="country_#{index}">Mauritania             </option>
                                <option value="country_#{index}">Mauritius             </option>
                                <option value="country_#{index}">Mexico             </option>
                                <option value="country_#{index}">Moldova             </option>
                                <option value="country_#{index}">Monaco             </option>
                                <option value="country_#{index}">Mongolia             </option>
                                <option value="country_#{index}">Montenegro             </option>
                                <option value="country_#{index}">Montserrat             </option>
                                <option value="country_#{index}">Morocco             </option>
                                <option value="country_#{index}">Mozambique             </option>
                                <option value="country_#{index}">Namibia             </option>
                                <option value="country_#{index}">Nepal             </option>
                                <option value="country_#{index}">Netherlands             </option>
                                <option value="country_#{index}">Netherlands Antilles             </option>
                                <option value="country_#{index}">New Caledonia             </option>
                                <option value="country_#{index}">New Zealand             </option>
                                <option value="country_#{index}">Nicaragua             </option>
                                <option value="country_#{index}">Niger             </option>
                                <option value="country_#{index}">Nigeria             </option>
                                <option value="country_#{index}">Norway             </option>
                                <option value="country_#{index}">Oman             </option>
                                <option value="country_#{index}">Pakistan             </option>
                                <option value="country_#{index}">Palestine             </option>
                                <option value="country_#{index}">Panama             </option>
                                <option value="country_#{index}">Papua New Guinea             </option>
                                <option value="country_#{index}">Paraguay             </option>
                                <option value="country_#{index}">Peru             </option>
                                <option value="country_#{index}">Philippines             </option>
                                <option value="country_#{index}">Poland             </option>
                                <option value="country_#{index}">Portugal             </option>
                                <option value="country_#{index}">Puerto Rico             </option>
                                <option value="country_#{index}">Qatar             </option>
                                <option value="country_#{index}">Reunion             </option>
                                <option value="country_#{index}">Romania             </option>
                                <option value="country_#{index}">Russia             </option>
                                <option value="country_#{index}">Rwanda             </option>
                                <option value="country_#{index}">Saint Pierre &amp; Miquelon             </option>
                                <option value="country_#{index}">Samoa             </option>
                                <option value="country_#{index}">San Marino             </option>
                                <option value="country_#{index}">Satellite             </option>
                                <option value="country_#{index}">Saudi Arabia             </option>
                                <option value="country_#{index}">Senegal             </option>
                                <option value="country_#{index}">Serbia             </option>
                                <option value="country_#{index}">Seychelles             </option>
                                <option value="country_#{index}">Sierra Leone             </option>
                                <option value="country_#{index}">Singapore             </option>
                                <option value="country_#{index}">Slovakia             </option>
                                <option value="country_#{index}">Slovenia             </option>
                                <option value="country_#{index}">South Africa             </option>
                                <option value="country_#{index}">South Korea             </option>
                                <option value="country_#{index}">Spain             </option>
                                <option value="country_#{index}">Sri Lanka             </option>
                                <option value="country_#{index}">St Kitts &amp; Nevis             </option>
                                <option value="country_#{index}">St Lucia             </option>
                                <option value="country_#{index}">St Vincent             </option>
                                <option value="country_#{index}">St. Lucia             </option>
                                <option value="country_#{index}">Sudan             </option>
                                <option value="country_#{index}">Suriname             </option>
                                <option value="country_#{index}">Swaziland             </option>
                                <option value="country_#{index}">Sweden             </option>
                                <option value="country_#{index}">Switzerland             </option>
                                <option value="country_#{index}">Syria             </option>
                                <option value="country_#{index}">Taiwan             </option>
                                <option value="country_#{index}">Tajikistan             </option>
                                <option value="country_#{index}">Tanzania             </option>
                                <option value="country_#{index}">Thailand             </option>
                                <option value="country_#{index}">Timor L'Este             </option>
                                <option value="country_#{index}">Togo             </option>
                                <option value="country_#{index}">Tonga             </option>
                                <option value="country_#{index}">Trinidad &amp; Tobago             </option>
                                <option value="country_#{index}">Tunisia             </option>
                                <option value="country_#{index}">Turkey             </option>
                                <option value="country_#{index}">Turkmenistan             </option>
                                <option value="country_#{index}">Turks &amp; Caicos             </option>
                                <option value="country_#{index}">Uganda             </option>
                                <option value="country_#{index}">Ukraine             </option>
                                <option value="country_#{index}">United Arab Emirates             </option>
                                <option value="country_#{index}">United Kingdom             </option>
                                <option value="country_#{index}">Uruguay             </option>
                                <option value="country_#{index}">Uzbekistan             </option>
                                <option value="country_#{index}">Venezuela             </option>
                                <option value="country_#{index}">Vietnam             </option>
                                <option value="country_#{index}">Virgin Islands (US)             </option>
                                <option value="country_#{index}">Yemen             </option>
                                <option value="country_#{index}">Zambia             </option>
                                <option value="country_#{index}">Zimbabwe             </option>
                            </select>
                        </div>*@
                        <!-- Street-->
                        <div class="form-group">
                            <label asp-for="AddressLine" class="form-label">Street Address</label>
                            <input asp-for="AddressLine" class="form-control" id="form_street">
                            <span asp-validation-for="AddressLine"></span>
                        </div>
                        <!-- City + State-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="City" class="form-label">City</label>
                                    <input asp-for="City" class="form-control" id="form_city">
                                    <span asp-validation-for="City"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="State" class="form-label">State</label>
                                    <input asp-for="State" class="form-control" id="form_state">
                                    <span asp-validation-for="State"></span>
                                </div>
                            </div>
                        </div>
                        <!-- ZIP Code-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ZipCode" class="form-label">ZIP Code</label>
                                    <input asp-for="ZipCode" class="form-control" id="form_zip">
                                    <span asp-validation-for="ZipCode"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row form-block flex-column flex-sm-row">
                    <div class="col text-center text-sm-left">
                    </div>
                    <div class="col text-center text-sm-right"><a onclick="firstForm()" class="btn btn-primary px-3"> Next step<i class="fa-chevron-right fa ml-2"></i></a></div>
                </div>

            </div>
        </section>


    @*<div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px;">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>*@
    <section class="py-5 d-none" id="form2">
        <div class="container">
            <p class="subtitle text-primary">Add new Service</p>
            <h1 class="h2 mb-5">Amenities and Description<span class="text-muted float-right">Step 2</span>      </h1>

            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Description</h4>
                    <p class="text-muted text-sm">Tell us a little about your business, this is your chance to showcase what you do as best as you can.</p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group mb-5">
                        <label asp-for="Description" class="form-label">Describe your Service to Users</label>
                        <textarea asp-for="Description" class="form-control" id="form_description" rows="3" aria-describedby="descriptionHelp"></textarea><small class="form-text text-muted mt-2" id="descriptionHelp">Maximum of 240 words, make the best use of it. </small>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
            <!--Amenities Block-->
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Amenities</h4>
                    <p class="text-muted text-sm">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group">
                        <label class="form-label">Available Amenities</label>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_0" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_0">Kitchen    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_1" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_1">Shampoo    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_2" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_2">Heating    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_3" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_3">Air conditioning    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_4" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_4">Washer    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_5" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_5">Dryer    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_6" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_6">Wifi    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_7" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_7">Breakfast    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_8" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_8">Indoor fireplace    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_9" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_9">Buzzer/wireless intercom    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_10" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_10">Doorman    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_11" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_11">Hangers    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_12" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_12">Iron    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_13" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_13">Hair dryer    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="amenities_14" name="amenities[]">
                                    <label class="custom-control-label text-muted" for="amenities_14">Laptop friendly workspace    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-left">
                    <a class="btn btn-link text-muted" onclick="firstForm()"> <i class="fa-chevron-left fa mr-2"></i>Back</a>
                </div>
                <div class="col text-center text-sm-right"><a onclick="secondForm()" class="btn btn-primary px-3"> Next step<i class="fa-chevron-right fa ml-2"></i></a></div>
            </div>

        </div>
    </section>

    <section class="py-5 d-none" id="form3">
        <div class="container">
            <p class="subtitle text-primary">Add new Service</p>
            <h1 class="h2 mb-5"> Photos <span class="text-muted float-right">Step 3</span>      </h1>
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Photos</h4>
                    <p class="text-muted text-sm">Upload beautiful pictures that captures all the beautiful momenent of your work.</p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group">
                        <div class="dropzone" id="demo-upload" action="https://demo.bootstrapious.com/upload">
                            <div class="dz-message text-muted">
                                <p>Drop files here or click to upload.</p>
                                <p><span class="note"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="dropzoneTemplate">
                        <div class="dz-preview dz-file-preview">
                            <div class="dz-image"><img data-dz-thumbnail="" alt="" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/logo-square.svg"></div>
                            <div class="dz-details">
                                <div class="dz-filename"><span data-dz-name=""></span></div>
                                <div class="dz-size" data-dz-size=""></div>
                            </div>
                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            <div class="dz-success-mark"><span class="dz-icon"><i class="fa-check fa"></i></span></div>
                            <div class="dz-error-mark"><span class="dz-icon"><i class="fa-times fa"></i></span></div>
                            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-left">
                    <a onclick="secondForm()" class="btn btn-link text-muted"> <i class="fa-chevron-left fa mr-2"></i>Back</a>
                </div>
                <div class="col text-center text-sm-right"><input type="submit" class="btn btn-primary px-3"><i class="fa-chevron-right fa ml-2"></i>></div>

            </div>
        </div>
    </section>
</form>

@section Scripts {
    <script>
        function firstForm() {

            var Page1 = document.querySelector('#form1');
            var Page2 = document.querySelector('#form2');
            if (Page1.classList.contains('d-block')) {
                // $('form1').animate({ left: '250px'});
                Page1.classList.remove('d-block');
                Page1.classList.add('d-none');
                Page2.classList.remove('d-none');
                Page2.classList.add('d-block');
                //$('#form2').slideUp("fast");
                $('#form2').fadeIn("slow");
            }
            else {
                Page1.classList.add('d-block');
                Page1.classList.remove('d-none');
                Page2.classList.add('d-none');
                Page2.classList.remove('d-block');
                //$('#form2').slideUp("fast");
                $('#form2').fadeIn("slow");
            }
        }

        function secondForm() {
            var page2 = document.querySelector('#form2');
            var page3 = document.querySelector('#form3');

            if (page2.classList.contains('d-block')) {
                page2.classList.remove('d-block');
                page2.classList.add('d-none');
                page3.classList.remove('d-none');
                page3.classList.add('d-block');
                $('#form3').fadeIn("slow");
            }
            else {
                page2.classList.remove('d-none');
                page2.classList.add('d-block');
                page3.classList.remove('d-block');
                page3.classList.add('d-none');
                $('#form2').fadeIn("slow");
            }
        }

    </script>
}