
@{ 
    Layout = "_PagesLayout";
}

<section class="py-5 py-lg-6">
    <div class="container text-center">
        <p class="subtitle text-primary">Add new listing</p>
        <h1 class="h2 mb-5"> Listing uploaded</h1>
        <p class="mb-5"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/illustration/undraw_celebration_0jvk.svg" alt="" style="width: 400px;"></p>
        <p class="text-muted mb-5">Thank you, Ondrej. Your listing has been saved and will be reviewed shortly.</p>
        <p class="mb-5"><a class="btn btn-primary mr-2 mb-2">View Services</a><a class="btn btn-outline-muted mb-2" href="#">Home</a></p>
    </div>
</section>