@model BookingViewModel


@{
    Layout = "_PagesLayout";
    var serviceId = Context.Request.Query["serviceId"];

}
<div class="text-center mt-4">
    <h2>Booking Form</h2>
    <p>Please fill the below form accurately to enable us serve you better!</p>
</div>

<div class="container bg mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 mr-lg-3">
            <form method="post" asp-action="Booking" asp-controller="Booking">
                @*<h3 class="text-center">Welcome!</h3>*@
                <input type="hidden" asp-for="ServiceId"  value="@serviceId" />
                <div class="row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="FirstName"></label>
                        <input type="text" asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="LastName"></label>
                        <input type="text" asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="ExpectedGuests">Expected Guests</label>
                        <input type="text" asp-for="ExpectedGuests" class="form-control">
                        <span asp-validation-for="ExpectedGuests"></span>
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" type="datetime-local" class="form-control">
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label asp-for="EndDate"></label>
                        <input type="datetime-local" asp-for="EndDate" class="form-control">
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalDetails" class="form-label" for="review"></label>
                    <textarea asp-for="AdditionalDetails" class="form-control" rows="3" name="review" id="review" placeholder="Tell us a little about your event" required="required"></textarea>
                    <span asp-validation-for="AdditionalDetails"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="background-color:#7a421b !important; border:none">Book Now</button>
            </form>
        </div>
        <div class="col-lg-4 justify-content-center align-items-center  mt-7 ml-3">

            <img src="~/img/undraw_informed_decision_p2lh.svg" class="img-fluid rounded d-lg-block d-sm-none" alt="Alternate Text" />
        </div>
    </div>
</div>