
@{ 
    Layout = "_PagesLayout";
}

<section class="py-3 py-lg-3">
    <div class="container text-center">
        <p class="subtitle text-primary">Booking Received</p>
        <h1 class="h2 mb-5"> Service Successfully Booked!</h1>
        <p class="mb-5"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/illustration/undraw_celebration_0jvk.svg" alt="" style="width: 400px;"></p>
        <p class="text-muted mb-5">Thank you, Stranger. Your Booking has been Processed Succesfully</p>
        <p class="mb-5"><a class="btn btn-primary mr-2 mb-2">View Services</a><a class="btn btn-outline-muted mb-2" href="#">Home</a></p>
    </div>
</section>